<!DOCTYPE html>
<head>
  <meta charset='utf-8'/>
  <title>
      {{ block('title') }} | {{ app.config.get('general/sitename') }}
  </title>

  {% if app.config.get('theme/body-font') != 'serif' %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext' rel='stylesheet'>
  {% endif %}
  <link rel='stylesheet' href='{{ asset('css/responsive.min.css', 'theme') }}'/>
  <link rel='stylesheet' href='{{ asset('css/tufte.css', 'theme') }}'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body class='
{%- if theme.bodyfont != 'serif' %}sans {% endif %}
{% if theme.boxed|default(false) %}boxed-page {% endif -%}
  '>

<nav id='mainnav'>
  <div class='container'>
<div class="col-l-8 offset-l-2" style="float: none;">
    <span class='sitename'>
      {% if app.request.get('_route') != 'homepage' %}
        <a href='{{ paths.root }}'>{{ app.config.get('general/sitename') }}</a>
      {% endif %}
    </span>
    <span class='pagename'>
      {% block title %}
          <a href='{{ paths.root }}'>{{ app.config.get('general/sitename') }}</a>
      {% endblock %}
    </span>
    {% include('_sub_menu.twig') %}
  </div>
  </div>
</nav>

{% if theme.boxed|default(false) %}<div class='boxed-page'>{% endif %}

<div class='container'>
  <div class='row'>

      <header class='col-xxs-12 col-m-8 offset-m-2'>
          <h1>
            {{ block('title') }} {# repeat the 'title' block #}
          </h1>
      </header>

      <article class='col-xxs-12 col-m-8 offset-m-2'>

          {% block content %}
          {% endblock %}

          <hr>
          <p class="small">Navigation: </p>
          <ul class="small">
          {% for slug, title in index %}
          <li class='index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}'>
            <a href='/{{ slug }}'>
              {{ title }}
            </a>
          </li>
          {% endfor %}
          </ul>

      </article>

      {% block aside %}
      {% endblock %}

  </div>
</div>

{% if theme.boxed|default(false) %}</div>{% endif %}

  <script src='{{ asset('javascript/jquery.js', 'theme') }}'></script>
  <script src='{{ asset('javascript/tufte.js', 'theme') }}'></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.phpnews.io"]);
  _paq.push(["setDomains", ["*.phpnews.io","*.www.phpnews.io"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.twokings.nl/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.twokings.nl/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56786107-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
