<!DOCTYPE html>
<head>
  <meta charset='utf-8'/>
  <title>
      {% if Seo is defined %}
        {{ seo.title() }}
      {% else %}
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
        {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %}
          | {{ app.config.get('general/payoff') }}
        {% endif %}
      {% endif %}
  </title>

  {% if app.config.get('theme/body-font') != 'serif' %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext' rel='stylesheet'>
  {% endif %}
  <link rel='stylesheet' href='{{ asset('css/responsive.min.css', 'theme') }}'/>
  <link rel='stylesheet' href='{{ asset('css/tufte.css', 'theme') }}'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body class='
{%- if theme.bodyfont != 'serif' %}sans {% endif %}
{% if theme.boxed|default(false) %}boxed-page {% endif -%}
  '>

<nav id='mainnav'>
  <div class='container'>
    <span class='sitename'>
      {% if app.request.get('_route') != 'homepage' %}
        <a href='{{ paths.root }}'>{{ app.config.get('general/sitename') }}</a>
      {% endif %}
    </span>
    <span class='pagename'>
      {% block pagename %}
          <a href='{{ paths.root }}'>{{ app.config.get('general/sitename') }}</a>
      {% endblock %}
    </span>
    {{ menu() }}
  </div>
</nav>

{% if theme.boxed|default(false) %}<div class='boxed-page'>{% endif %}

<div class='container'>
  <div class='row'>

      <header class='col-xxs-12'>
          <h1>
            {% block title %}
              {{ app.config.get('general/sitename') }}
            {% endblock %}
          </h1>
      </header>

      <article class='col-xxs-12 col-m-8'>

          {% block content %}
          {% endblock %}

      </article>

      {% block aside %}
      {% endblock %}

  </div>
</div>

{% if theme.boxed|default(false) %}</div>{% endif %}

  <script src='{{ asset('javascript/jquery.js', 'theme') }}'></script>
  <script src='{{ asset('javascript/tufte.js', 'theme') }}'></script>

</body>
</html>
