{% macro image(img, rec, pos) %}

    {% if pos == 'sidebar' %}
        {% set w = 633 %}
        {% set h = 422 %}
        {% set class = 'sideimage' %}
    {% else %}
        {% set w = 715 %}
        {% set h = 322 %}
        {% set class = '' %}
    {% endif %}

    {% if (img.file is not empty) %}
        {% if class == 'sideimage' %}
            <aside class='sideimage'>
        {% endif %}

            <span class='imageholder'>
                <a href='{{ thumbnail(img.file, 1600, 1200) }}' title='{{ img.title|default('') }}'>
                    <img src='{{ thumbnail(img.file, w, h) }}' alt='{{ img.alt|default('') }}'>
                </a>
                {% if img.title is defined and img.title is not empty %}
                    <span class='note'>{{ img.title }}</span>
                {% elseif img.alt is defined and img.alt is not empty %}
                    <span class='note'>{{ img.alt }}</span>
                {% endif %}
            </span>

        {% if class == 'sideimage' %}
            </aside>
        {% endif %}

    {% endif %}
{% endmacro %}