{% macro display_menu_item(slug, title, loop) %}

<li class='index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}'>
    <a href='/{{ slug }}'>
       {{ title }}
    </a>

    {% if item.submenu is defined %}
        <ul>
            {% for submenu in item.submenu %}
                {{ _self.display_menu_item(submenu, loop) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endmacro %}

<nav id='mainmenu' class=''>
    <ul class='bolt-menu'>
    <li>
        <a href='/'>Menu</a>
        <ul>
        {% for slug, title in index %}
            {{ _self.display_menu_item(slug, title, loop) }}
        {% endfor %}
        </ul>
    </li>
    </ul>
</nav>
