{% extends '_base.twig' %}

{% import '_macro.twig' as macros %}

{% block content %}

    {% setcontent records = 'entries/latest/6' allowpaging %}
    {% for record in records %}

        {% if record.image!='' and not loop.first %}
            {{ macros.image(record.values.image, record, 'sidebar') }}
        {% endif %}

        <h2><a href='{{ record.link() }}'>{{ record.title }}</a></h2>

        {% include '_recordfooter.twig' with {'compact': true } %}

        {% if record.image!='' and loop.first %}
            {{ macros.image(record.values.image, record, 'main') }}
        {% endif %}

        {{ record.teaser|default('<p>' ~ record.excerpt(320) ~ '</p>') }}

        <p><a href='{{ record.link }}'>Continue reading &raquo;</a></p>

        <hr>

    {% endfor %}

    {{ pager() }}

{% endblock %}

{% block aside %}
      <aside class='col-xxs-12 col-m-4'>

        {# let's see if we have a 'block' resource type, with 'about' for a slug? #}
        {% setcontent about = 'blocks/about-us' %}
        {% if about is not empty %}
          <h3>{{ about.title }}</h3>
          {{ about.content }}
          {% if about.contentlink is not empty %}
            <a href='{{ about.contentlink }}'>Continue reading &raquo;</a>
          {% endif %}
        {% else %}

          {# otherwise we might have a 'page' with slug 'about'? #}
          {% setcontent about = 'page/about' %}
            {% if about is not empty %}
              {{ about.excerpt(200) }}
              <a href='{{ about.link() }}'>Continue reading &raquo;</a>
            {% else %}

              {# fallback to dummy text #}
              <p>
                Welcome to the Tufte theme! Read the supplied README on instructions on how to change this blurb, right here. Thanks for choosing this simple theme!
              </p>

            {% endif %}
        {% endif %}

      </aside>

{% endblock aside %}